<div class="btn-group-vertical side-navigation affix" role="group" aria-label="...">
	<button type="button" class="btn btn-default" data-link="/">Home</button>
	<button type="button" class="btn btn-default" data-link="#cart">Cart</button>
	<button type="button" class="btn btn-default" data-link="#orders">Orders</button>
	<button type="button" class="btn btn-default" data-link="#reporting/annual">Annual Sales</button>
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default" data-link="#reporting/monthly/all" data-toggle="dropdown" aria-expanded="false">Monthly Sales<span class="caret"></span></button>
		<ul class="dropdown-menu monthly-sales-years" role="menu"></ul>
	</div>
	<button type="button" class="btn btn-default" data-link="#reporting/product">Product Summary</button>

	<button type="button" class="btn btn-default" data-link="">Logout</button>
</div>