<div class="module_1 b_margin_10">
	<ul class="nav nav-pills nav-stacked side-navigation affix">
		<li><a href="/">Home</a></li>
		<!-- <li><a href="">Products</a></li>
			<ul class="nav nav-pills nav-stacked side-navigation">
				<li><a href="">Add Style</a></li>
				<li><a href="">Add Size</a></li>
			</ul>
		<li><a href="">Opt-in Emails</a></li>
		<li><a href="">Member Accounts</a></li>

		<li><a href="">Customers</a></li> -->
		<li><a href="#/cart">Cart</a></li>
		<!-- <li><a href="">Orders</a></li>
		<li><a href="">Special Order</a></li>
		<li><a href="">Product Sales</a></li> -->
		<li><a href="#/reporting/annual">Annual Sales</a></li>
		<li><a href="#/reporting/monthly/2015">Monthly Sales</a></li>
		<li><a href="#/reporting/product">Product Summary</a></li>

		<li><a href="">Logout</a></li>
	</ul>
</div>