<div class="form-inline options-bar bg-info clearfix">
	<div class="record-count-container pull-left"><h3>Total Order Count: <span class="record-count"></span></h3></div>
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default btn-previous" data-page="previous"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
		<button type="button" class="btn btn-default btn-next" data-page="next">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
</div>
<div class="container-fluid cart-container"></div>