<div class="cart-item container-fluid">
	<div class="row">
		<div class="col-md-6 thumbnail"><img class="img-responsive" src="http://www.chestees.com/uploads/products/{{Image_Index}}" /></div>
		<div class="col-md-6 cart-item-detail">
			<div class="size-abbr label label-default">{{SizeAbbr}}</div>
			<div class="style label label-default">{{Style}}</div>
			<div class="price label label-default">{{Price}}</div>
			<div class="quantity label label-default">{{Quantity}}</div>
		</div>
	</div>
</div>