<div class="form-inline options-bar bg-info">
	<div class="form-group">
		<label for="exampleInputEmail2">Start Date: </label>
		<input class="form-control" type="text" id="start-date">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail2">End Date: </label>
		<input class="form-control" type="text" id="end-date">
	</div>
	<button class="btn btn-danger submit">submit</button>
	</div>
</div>
<div class="query-listing">
	<table class="order-table table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Order</th>
				<th>Purchase Amount</th>
				<th>Shipping</th>
				<th>Discount</th>
				<th>Total Amount</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>